    <!-- Hero section -->
    <div class="hero">
        <div class="hero_card">
            <h1>Choose Superior Web Hosting</h1>
            <button>Get Web Hosting</button>
            <p>starting at only <b>$36/mo</b></p>
        </div>

    </div>


    <!-- Content Section -->

    <div class="container content">
        <div class="content_card">
            <div class="sale">
                <p>20% OFF</p>
            </div>
            <i class="fas fa-server"></i>
            <h3>Web Hosting</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi  perferendis id aperiam soluta, </p>
            <button>Get Hosting</button>
        </div>
        <div class="content_card">
              <div class="sale">
                <p>60% OFF</p>
            </div>
            <i class="fas fa-cloud-upload-alt"></i>
            <h3>Cloud Servers</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi  perferendis id aperiam soluta, </p>
            <button>compare cloud</button>
        </div>
        <div class="content_card">
              <div class="sale">
                <p>40% OFF</p>
            </div>
            <i class="fas fa-file-upload"></i>
            <h3>Servers</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi  perferendis id aperiam soluta, </p>
            <button>view server</button>
        </div>
        <div class="content_card">
              <div class="sale">
                <p>10% OFF</p>
            </div>
            <i class="fab fa-wordpress"></i>
            <h3>Wordpress</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi  perferendis id aperiam soluta, </p>
            <button>Get wordpress</button>
        </div>
    </div>



    <!-- Help center -->
    <div class="help">
    </div>